body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(255,255,255);
  background-image: url("background.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.navbar {
  overflow: hidden;
  background-color: #ddd;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.raceinfo {
  float: right;
  overflow: hidden;
}

.raceinfo .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .raceinfo:hover .dropbtn {
  background-color: orange;
}

.raceinfo-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.raceinfo-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.raceinfo-content a:hover {
  background-color: #ddd;
}

.raceinfo:hover .raceinfo-content {
  display: block;
}

